.postView-wrapper {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
}

.postView-card-header {
  width: 95%;
  margin: 20px auto !important;
  font-family: slabo !important;
}

.postView-card-content {
  width: 95%;
  margin: 0 auto !important;
}

.postView-image {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
