/**
* App.css
*
* @author nxxinf
* @github https://github.com/fangnx
* @created 2019-09-10 13:10:06
* @last-modified 2019-09-10 17:12:40
*/

.app-background {
	background-color: var(--theme-navy-2);
	background-size: cover;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

.app-fixed {
	position: fixed;
	width: 100%;
	z-index: 10;
}

/* Responsive UI: content would adjust its width based on the device */

.app-content {
	padding-top: calc(8vh + 30px);
	padding-bottom: 30px;
}

@media (min-width: 768px) {
	.app-content {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.app-content {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-title);
	font-weight: bold;
}

h1 {
	font-size: 2.75rem;
	line-height: 2.75rem;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.25rem;
}

input {
	border: none !important;
	background: var(--theme-white-1) !important;
	display: inline !important;
}

img {
	width: 100%;
}

/* Override default attributes of Semantic UI components */

.ui.card {
	border-radius: 2px;
	font-size: 1.1rem;
	font-family: var(--font-text);
}

.ui.card > .content {
	padding-top: 6px;
	padding-bottom: 6px;
}

.ui.grid > .row {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.ui.label {
	border-radius: 2px;
	font-family: var(--font-style);
	font-size: 0.9rem;
}

.ui.primary.button {
	background-color: var(--theme-navy) !important;
}

.ui.primary.button:focus {
	background-color: var(--theme-navy) !important;
}

/* Override default attributes of react-markdown */

.markdown p {
	word-break: break-word;
}

.markdown h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-title);
	font-weight: bold;
	word-break: break-word;
}

.markdown img {
	width: 80%;
	margin: 1rem 10% 1rem 10%;
}

.markdown code {
	background: var(--theme-bluegrey-light);
	color: var(--theme-bluegrey-1);
	padding-left: 2px;
	padding-right: 2px;
	white-space: pre-line;
}

.markdown a {
	color: var(--theme-navy-1);
	font-weight: bold;
}
