.App {
  height: 100%;
  background-image: linear-gradient(
    to top,
    #7564a5,
    #6f61a3,
    #695da1,
    #635a9f,
    #5c579d,
    #57549b,
    #51529a,
    #4b4f98,
    #454c96,
    #3f4894,
    #384592,
    #314290
  );
  background-size: cover;
}

.app-content {
  padding-top: 5vh;
}
