.addPost-wrapper {
	width: 60%;
	min-width: 500px;
	margin: 0 auto;
}

.addPost-card {
	background: rgba(240, 240, 240, 96%) !important;
}

.addPost-card-header {
	width: 95%;
	margin: 20px auto !important;
}

.addPost-card-content {
	width: 95%;
	margin: 0 auto !important;
}

.addPost-form .field {
	margin-bottom: 30px !important;
}

.addPost-title-field input {
	font-size: 1.5em !important;
	font-weight: 600 !important;
}

.addPost-content-field textarea {
	background: rgba(245, 245, 245) !important;
}

.addPost-tags-field .segment {
	border: 1px solid #ddd !important;
	border-radius: 0px !important;
	box-shadow: none;
	background: rgba(245, 245, 245) !important;
}

.addPost-tags-label-wrapper {
	width: 100%;
	margin-bottom: 15px;
}

.addPost-tagInput {
	display: inline !important;
}

.addPost-tagInput input {
	border-bottom: none !important;
}

.addPost-tagList {
	display: inline;
}

.addPost-tag {
	margin-right: 10px !important;
}
