.addPost-wrapper {
  width: 75%;
  min-width: 500px;
  margin: 0 auto;
}

.addPost-card-header {
  width: 95%;
  margin: 20px auto !important;
}

.addPost-card-content {
  width: 95%;
  margin: 0 auto !important;
}

.addPost-form .field {
  margin-bottom: 30px !important;
}

.addPost-tags-label-wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.addPost-tagInput {
  display: inline !important;
}

.addPost-tagList {
  display: inline;
}

.addPost-tag {
  margin-right: 10px !important;
}
