.registration-wrapper {
  width: 33.3%;
  min-width: 500px;
  margin: 20px auto;
}

.registration-form {
  /* width: 90%;
  margin: 0 auto; */
}

.registration-card-header {
  width: 95%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}

.registration-card-content {
  width: 95%;
  margin: 0 auto !important;
}

.registration-field-text {
  font-size: medium;
  font-weight: 600;
}

.registration-field-text:hover {
  font-size: large;
}

.registration-field-msg {
  display: block;
  margin-top: 2%;
  /* margin-left: 3.75%; */
  font-family: monospace;
  font-size: medium;
  font-style: normal;
  color: red;
}
