.registration-wrapper {
  width: 33.3%;
  min-width: 500px;
  margin: 20px auto;
}

.registration-form {
  width: 90%;
  margin: 0 auto;
}

.registration-card-header {
  width: 95%;
  margin: 0 auto !important;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.registration-card-content {
  width: 95%;
  margin: 0 auto !important;
}
