.post-wrapper {
  width: 50%;
  margin: 20px auto;
}

.post-card-header {
  width: 95%;
  margin: 20px auto !important;
}

.post-card-content {
  width: 95%;
  margin: 0 auto !important;
}

.post-image {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: 'Avenir Next';
  font-size: medium;
  font-weight: 500;
}
