p {
  font-family: "Avenir Next";
  font-size: medium;
  font-weight: 500;
}

.post-container {
  background-color: rgb(239, 248, 250);
}

/* .post-grid {
  
} */

.post-image {
  width: auto;
  max-width: 400px;
  height: 300px;
}
