.login-wrapper {
  width: 33.3%;
  min-width: 500px;
  margin: 20px auto;
}

.login-form {
  /* width: 90%;
  margin: 0 auto; */
}

.login-card-header {
  width: 95%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}

.login-card-content {
  width: 95%;
  margin: 0 auto !important;
}

.login-field-text {
  font-size: medium;
}

.login-field-text:hover {
  font-size: large;
}
