.login-wrapper {
	width: 100%;
	margin: 0 auto;
}

.login-form {
	width: 100%;
	margin: 0 auto;
}

.login-card {
	background: rgba(240, 240, 240, 90%) !important;
}

.login-card-header {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	padding: 15px 0 30px 0;
}

.login-field-text {
	font-size: 10pt !important;
}

.login-card-content .field:hover > .login-field-text {
	font-style: oblique;
}

.login-button {
	margin: 2% 0 !important;
}

.login-field-msg {
	display: block;
	margin-top: 2%;
	/* margin-left: 3.75%; */
	font-family: monospace;
	font-size: medium;
	font-style: normal;
	color: red;
}
