.registration-wrapper {
	width: 100%;
	margin: 0 auto;
}

.registration-form {
	width: 100%;
	margin: 0 auto;
}

.registration-card {
	background: var(--theme-white-t) !important;
}

.registration-card-header {
	width: 95%;
	margin: 0 auto;
	text-align: left;
	padding: 15px 0 30px 0;
}

.registration-field-text {
	font-size: 10pt !important;
}

.registration-card-content .field:hover > .registration-field-text {
	font-style: oblique;
}

.registration-button {
	margin: 2% 0 !important;
}

.registration-field-msg {
	display: block;
	margin-top: 2%;
	font-family: monospace;
	font-size: medium;
	font-style: normal;
	color: red;
}
